@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: Roboto;
  font-weight: lighter;
  padding: 0;
  margin: auto;
  overflow-x: hidden;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0%;

}

#container-header {
  position: relative;
  top:80%;
  z-index: 1;
}

.web-name{
  width:300px;
  padding-left: 100px;
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding-left:

}

.nav-bar ul {
  padding-right: 30px;
  height: 1px;

}
.nav-bar li {
  display: inline;
}
.nav-bar a {
  color: grey;
  text-decoration: none;
  float: right;
  padding-top: 30px;
  padding-right:40px;

}


#bak {
  background-image: url('https://images.pexels.com/photos/403571/pexels-photo-403571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

  background-size:cover;
  background-position:center
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0%;


}


.text-on-background {
  padding-top: 150px;
  padding-left: 91px;
}
.text-on-background p {
  color:grey;
  font-size: 20px;
padding-bottom: 50px;
width: 500px;
}

.text-on-background h2 {

  font-size: 35px;
padding-bottom: 30px;
}

.button {
  text-decoration: none;
  background:#1dacd6;
  padding:10px;
font-size:20px;
  color:black;
}

.button:hover {
  background: #639f70;
  transition-duration: 1s;
}


#big-box {

  background: white;
  display: flex;
  justify-content: space-between;
  padding:40px;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
z-index: 1;
position: absolute;
top:500px;

  box-shadow:0px 0px 96px -23px rgba(74,58,66,1);
  transition-delay: 1s;


}

.box p  {
  color:#bababa;
}

.fas {
  color:#bababa;
}

 .head {

  font-size: 25px;
  position: absolute;
  top:850px;
  left: 35%;
}

.section {
  height:1200px;
  z-index:1;
}
.box-grid {

position: absolute;
z-index: 1;
top:1000px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.box-grid p {
  width:40%;
  line-height: 1.7;
  color:#bababa;
  margin-bottom: 50px;
}


/* third showcase */

.img2 {
  margin:10px;
}



/* FEATURES */

.services-grid {

  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding:30px;
  margin:20px;
  grid-gap: 20px;
text-align: center;

}

.box2 p {
  color:#bababa;

}

.btn-1 {
  background: black;
  color:#bababa;
  padding:20px;
  text-decoration: none;
  text-align: center;
  margin-left: 650px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}


/*img grid */

.imgs {
  margin-top: 100px;
  display: flex;
  flex: column;
flex-wrap: wrap;

}

.text-hover {
  text-height: font-size;
  transition: height 2s;
  position: relative;
  z-index: 1;
  top:250px;
  animation-name: typ;

}



.imgs img {
  width:%;
  height: 500px;

}

.i1 {
  width: 40%;

}

.i2 {
  width:60%;

}

.i4 {
  width:40%;

}

.i3 {
  width:60%;
}

img:hover {
opacity: 0.7;
transition-duration: 1s;

}



/*quotation */

.quotation {
  height: 500px;

}

.text {
  text-align: center;
  width:500px;
  padding-left: 480px;
  padding-top: 80px;
  line-height: 2;
  color:#bababa;
}

.text h2 {
  padding-top:30px;
  color:black;
}

.text p {
  margin-bottom: 40px;
}
.text a {
  text-decoration: none;
  color:#bababa;
  background: black;
  padding:20px;
}
/*lowernav */
.lower-nav {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 30px;
  grid-gap: 30px;
}



.About {
  color:#bababa;

}

.About h3 {
  color:black;
}

.learn-more h3 {
  padding-left: 37px;
}

.learn-more li {
list-style: none;
line-height: 1.7;
}

.learn-more a{
  text-decoration: none;
line-height: 2;
color:#bababa;
}
.support  h3 {
  padding-left: 37px;
}

.support li {
list-style: none;
line-height: 1.7;
}

.support a{
  text-decoration: none;
line-height: 2;
color:#bababa;
margin-bottom: 30px;
}

.dwnload li {
  list-style: none;
  margin-top: 20px;
  position: relative;
  top:20px;
}

.button-dwnld a {
  text-decoration: none;
    background:#1dacd6;
  padding:10px;
font-size:20px;
  margin-top:20px;
}

.dwnload p {
  margin-top: 50px;
}

.icons li {
  display: inline;
  margin-top: 0px;
}
.icons a {
  padding-right: 10px;
  padding-left: 0;
  margin-top: 20px;
  margin-left: 0;
}


footer {
  background: black;
  padding: 20px;
  text-align: center;
  color: #bababa;
  font-size:15px;
}

@media (min-width: 500px) and (max-width: 700px){
  #big-box {
    display: flex;
    flex-flow:row wrap;
    text-align: center;

  }

  .web-name {
padding-left: 30%;
    padding-right: 20%;
    text-align: center;
  }

  .nav-bar ul {
display: grid;
grid-template-columns: 2fr 2fr 2fr;
margin-right: 30px;

  }
  .nav-bar a {
    padding-left: 30px;
    text-align: center;
  }


  .text-on-background {
    text-align: center;
    padding-right: 20%;
    padding-left:8%;
    margin-top:-20%;
  }

  .text-on-background h2 {
  font-size: 25px;
  padding-bottom: 20px;
  }


  .text-on-background p {
  padding-bottom: 20px;
  }

  .text-on-background a {

    padding: 10px; }

    .img {

      height: 800px;
      position: absolute;
      top:0%;

    }

    .btn-1 {
      text-align: center;
      margin-left:35%;
    }


    .box-grid {
      display: grid;
      grid-template-columns: 3fr;
      text-align: center;
      padding-left: 30%;
    }

    .services-grid {
      display: grid;
      grid-template-columns: 3fr 3fr;

    }

    .imgs img {
      width:50%;
      height: 500px;

    }

    .img .i1 {
      width: 100%;

    }

    .img .i2 {
      width:100%;

    }

    .img .i4 {
      width:100%;

    }

    .img .i3 {
      width:100%;

    }

.text {
  text-align: center;
  padding-left: 15%;
}
.lower-nav {
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
}

.About {
  width: 300px;
}
}
