@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: Roboto;
  font-weight: lighter;
  padding: 0;
  margin: auto;
  overflow-x: hidden;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0%;

}

#container-header {
  position: relative;
  top:80%;
  z-index: 1;
}

.web-name{
  width:300px;
  padding-left: 100px;
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding-left:

}

.nav-bar ul {
  padding-right: 30px;
  height: 1px;

}
.nav-bar li {
  display: inline;
}
.nav-bar a {
  color: grey;
  text-decoration: none;
  float: right;
  padding-top: 30px;
  padding-right:40px;

}



.text-on-background {
   position: absolute;
   top: 50%;
   left:100px;
   width:400px;
   font-size: 30px;
   line-height: 1.7;
   padding-bottom: 10px;
   font-weight: lighter;
}

.text-on-background p {
  color:grey;
  font-size: 15px;
padding-bottom: 50px;}

.button {
  text-decoration: none;
  background:#398d4c;
  padding:20px;

  color:black;
}

.button:hover {
  background: #639f70;
  transition-duration: 1s;
}


#big-box {

  background: white;
  display: flex;
  justify-content: space-between;
  padding:40px;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  top:-20%;
  box-shadow:0px 0px 96px -23px rgba(74,58,66,1);


}

.box p  {
  color:#bababa;
}

.fas {
  color:#bababa;
}

 .head h3 {
  text-align: center;
  font-size: 25px;
}

.box-grid {

  display: flex;
  width: 100%;
  justify-content: space-around;
}
.box-grid p {
  width:40%;
  line-height: 1.7;
  color:#bababa;
  margin-bottom: 50px;
}


/* third showcase */

.img2 {
  margin:10px;
}


/* FEATURES */

.services-grid {

  display: grid;
  grid-template-columns: repeat(3,2fr);
  padding:30px;
  margin:30px;
  grid-gap: 30px;
text-align: center;

}

.box2 p {
  color:#bababa;

}

.btn-1 {
  background: black;
  color:#bababa;
  padding:20px;
  text-decoration: none;
  text-align: center;
  margin-left: 600px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}


/*img grid */

.imgs {
  margin-top: 100px;
  display: flex;
  flex: column;
flex-wrap: wrap;

}

.text-hover {
  text-height: font-size;
  transition: height 2s;
  position: relative;
  z-index: 1;
  top:250px;
  animation-name: typ;
}



.imgs img {
  width:50%;
  height: 500px;

}

.img .i1 {
  width: 44%;
  flex-grow: 2;
}

.img .i2 {
  width: %;
  flex-shrink: 1;
}

.img .i4 {
  width:44%;
  flex-grow:2 ;
}

.img .i3 {
  width:33%;

}

img:hover {
opacity: 0.7;
transition-duration: 1s;
  text-height: font-size;

}

img:hover  {
  visibility:hidden;


}


/*quotation */

.quotation {
  height: 500px;

}

.text {
  text-align: center;
  width:500px;
  padding-left: 480px;
  padding-top: 80px;
  line-height: 2;
  color:#bababa;
}

.text h2 {
  padding-top:30px;
  color:black;
}

.text p {
  margin-bottom: 40px;
}
.text a {
  text-decoration: none;
  color:#bababa;
  background: black;
  padding:20px;
}
/*lowernav */
.lower-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.
